/* Styles go here */

body {
  font-family: 'Ubuntu', sans-serif;
  /*  color: orangered;*/
}

.fill-height {
  display: flex;
  flex: 1;
  min-height: 100%;
}

.fill-height>div {
  min-height: 100%;
  display: flex;
}

md-sidenav {
  overflow: visible;
}

.side-menu,
.side-menu ul {
  list-style: none;
  padding: 0;
  margin-top: 0;
}

.side-menu .md-button.active {
  color: deeppink;
}

.side-menu .menu-toggle-list a.md-button {
  display: block;
  padding: 0 16px 0 32px;
  text-transform: none;
  text-rendering: optimizeLegibility;
  font-weight: 500;
}

.side-menu .menu-toggle-list .md-button {
  display: block;
  padding: 0 16px 0 32px;
  text-transform: none;
}

.side-menu>li {
  border-top: 1px solid rgba(0, 0, 0, 0.12);
}

.md-button-toggle .md-toggle-icon.toggled {
  transform: rotateZ(180deg);
  -webkit-transform: rotateZ(180deg);
}

.side-menu .md-button-toggle .md-toggle-icon {
  background-size: 100% auto;
  display: inline-block;
  margin: auto 0 auto auto;
  width: 15px;
  color: darkgray;
  transition: transform .3s ease-in-out;
  -webkit-transition: -webkit-transform .3s ease-in-out;
}

.menu-toggle-list.ng-hide {
  max-height: 0;
}

.side-menu .md-button {
  border-radius: 0;
  color: inherit;
  cursor: pointer;
  font-weight: 400;
  line-height: 40px;
  margin: 0;
  max-height: 40px;
  overflow: hidden;
  padding: 0px 16px;
  text-align: left;
  text-decoration: none;
  white-space: normal;
  width: 100%;
}

.menu-toggle-list {
  background: #fff;
  max-height: 300px;
  overflow: hidden;
  position: relative;
  z-index: 1;
  -webkit-transition: 0.75s cubic-bezier(0.35, 0, 0.25, 1);
  -webkit-transition-property: max-height;
  -moz-transition: 0.75s cubic-bezier(0.35, 0, 0.25, 1);
  -moz-transition-property: max-height;
  transition: 0.75s cubic-bezier(0.35, 0, 0.25, 1);
  transition-property: max-height;
}

.side-menu menu-toggle span {
  padding-top: 12px;
  padding-bottom: 12px;
}


/*login*/

.climb-image {
  display: block;
  margin: auto;
  width: 40%;
}


/*map*/

.angular-leaflet-map {
  z-index: 0;
}

.map-resources {
  position: absolute;
  bottom: 0px;
  height: 100px;
  width: 100%;
  /*  opacity: 0.5;
  */
  background-color: white;
}

.leg-image {
  width: 50px;
  height: 50px;
  display: inline-block;
  margin-left: 20px;
  margin-right: 20px;
}

.map-gallery {
  height: 80px;
  width: 80px;
  margin: 10px;
}


/*calendar*/

.cal-sub-bar {
  height: 100px;
}

.cal-notif {
  color: white;
  width: 100%;
  background-color: #F39C12;
}

.cal-name {
  display: inline-block;
  width: 180px;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
}

.cal-notif-arrow {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 50px 0 50px 50px;
  border-color: transparent transparent transparent #f39d12;
}

.cal-challenge {
  color: white;
  text-align: right;
  width: 100%;
  background-color: #F39C12;
}

.cal-challenge-arrow {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 50px 50px 50px 0;
  border-color: transparent #f39d12 transparent transparent;
}

.cal-fab {
  position: fixed;
  bottom: 50px;
  right: 16px;
}

.cal-menu-col {
  background-color: #F39C12 !important;
}

.cal-foot-friend-col {
  background-color: #ef5350 !important;
}

.cal-foot-adult-col {
  background-color: #ffee58 !important;
}

.cal-bus-col {
  background-color: #66bb6a !important;
}

.cal-car-square-col {
  background-color: #1565c0 !important;
}

.cal-car-school-col {
  background-color: #bdbdbd!important;
}

.cal-away-col {
  background-color: #f2f2f2 !important;
}

.cal-pedibus-col {
  background-color: #ffee58 !important;
}

.cal-total {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 50px;
  line-height: 50px;
  text-align: center;
  margin-left: 0px;
  margin-right: 16px;
  padding-left: 16px;
  border-color: blue;
  border-style: solid;
  border-width: 2px 0px 0px 0px;
}

.cal-listbabies {
  padding: 0px!important;
}

.state-row {
  height: 30px;
  line-height: 30px;
  text-align: center;
}

.days-row {
  height: 50px;
  line-height: 50px;
  text-align: center;
}

.weather-row {
  height: 50px;
  line-height: 50px;
  text-align: center;
}

.weather-icon {
  line-height: 50px;
  font-size: 22px;
}

.wheater-button {
  padding: 0px!important;
}

.single-weather {
  width: 100%!important;
}

.cal-baby {
  height: 40px;
  line-height: 40px;
  text-align: center;
}

.cal-baby-cell {
  height: 100%;
  margin: 1px 1px 1px 1px;
}

.cal-header {
  background-color: #f2f2f2;
}

.cal-header-future {
  opacity: 0.5;
}

.body-app {
  overflow: hidden;
}

.baby-list {
  height: 400px;
  overflow: auto;
}

md-dialog {
  max-width: 500px;
  padding: 20px;
}

.send-dialog-delete {
  color: white;
  background-color: #bdbdbd;
  display: table;
  margin: 0 auto;
}

.send-dialog-confirm {
  color: white;
  background-color: #F39C12;
  display: table;
  margin: 0 auto;
}

.cal-interactive-button {
  color: #F39C12;
}

.first-row-button {
  height: 30px!important;
}

.cal-today-first {
  border-color: blue;
  border-style: solid;
  border-width: 2px 2px 0px 2px;
}

.cal-today-middle {
  border-color: blue;
  border-style: solid;
  border-width: 0px 2px 0px 2px;
}

.cal-future-middle {
  /*  opacity: 0.5;*/
  background-color: #f2f2f2;
}

.cal-button-scroll {
  color: white;
  background-color: #F39C12;
}

.cal-dialog-title {
  color: #4153a0;
  text-align: center;
  font-size: 24px;
  margin: 10px;
}

.cal-dialog-text {
  text-align: justify;
  font-size: 18px;
  margin: 10px;
}


/* Stats */

.stats .title-progress {
  text-align: center;
}

.stats md-progress-linear .md-container,
.stats md-progress-linear .md-container .md-bar {
  height: 40px;
}

.stats md-progress-linear .md-container {
  background-color: #bdbdbd;
}

.stats md-progress-linear .md-container .md-bar {
  height: 40px;
  background-color: #f39c12;
}

.stats .legenda {
  text-align: right;
}

.stats table {
  width: 100%;
  height: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

.stats .icon {
  font-size: 25px;
}

.stats table .icon {
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.stats table th,
.stats table td {
  width: 20%;
  border: 1px solid #999999;
}

.stats table th.mode-zeroImpact_solo {
  background-color: #ef5350;
}

.stats table th.mode-zeroImpact_wAdult {
  background-color: #ffee58;
}

.stats table th.mode-bus {
  background-color: #66bb6a;
}

.stats table th.mode-pandr {
  background-color: #1565c0;
}

.stats table th.bonus {
  background-color: #29b6f6;
}

.stats table td {
  padding: 0.5em;
  word-wrap: break-word;
  vertical-align: top;
}

.stats table td.mode-zeroImpact_solo {
  color: #ef5350;
}

.stats table td.mode-zeroImpact_wAdult {
  color: #ffee58;
}

.stats table td.mode-bus {
  color: #66bb6a;
}

.stats table td.mode-pandr {
  color: #1565c0;
}

.stats table td.bonus {
  color: #29b6f6;
}

/* Excursions */

.excursions .form-column {
  border-right: 1px solid #bdbdbd;
}