<div>
  <div class="climb-image">
    <img src="img/CLIMB_logo.png">
  </div>
  <md-content layout="vertical" flex id="content">

    <div layout="row" layout-align="center center" layout-fill>
      <md-whiteframe class="md-whiteframe-z1" layout="column" flex="30" layout-padding>
        <md-content md-theme="docs-dark">
          <md-select ng-model="selectedClass" placeholder="Classes" class="md-no-underline">
            <md-option ng-repeat="class in formClasses" ng-value="class">{{class.value}}</md-option>
          </md-select>
          <md-input-container layout-align="center center">
            <div layout="row" layout-sm="column" layout-margin>
              <md-button class="md-raised button-login" flex="50" flex-sm="100" ng-click="login()">{{'login_enter'|translate}}</md-button>
            </div>
          </md-input-container>
        </md-content>
      </md-whiteframe>
    </div>
  </md-content>
</div>
