<md-content flex="" layout-padding="">
  <leaflet width="100%" height="768px" center="center" markers="pathMarkers" paths="pathLine" layers="layers" id="map" defaults="defaults"></leaflet>
  <div class="map-resources">
    <md-button class="md-icon-button" aria-label="Left">
      <i class="material-icons">&#xE314;</i>
    </md-button>
    <div class="leg-image" ng-repeat="leg in  legs">
      <img class="map-gallery" src="{{leg.imageUrl}}">
    </div>
    <md-button class="md-icon-button" aria-label="Right">
      <i class="material-icons">&#xE315;</i>
    </md-button>
  </div>
</md-content>
