<div class="stats">
  <div layout="column" flex="80" flex-offset="10">
    <h1 class="md-title title-progress">{{'stats_gamescore' | translate:'{done: ' + stats.gameScore + ', total: ' + stats.maxGameScore + '}'}}</h1>
    <div layout="row" layout-align="start" layout-margin>
      <h1 class="md-display-1">{{stats.gameScore}}</h1>
      <md-progress-linear md-mode="determinate" ng-value="getGameScorePercentage()"></md-progress-linear>
      <h1 class="md-display-1">{{stats.maxGameScore}}</h1>
    </div>
  </div>
  <div layout="row" layout-align="start center">
    <div flex="50">
      <h1 class="md-title">{{'stats_ranking_global' | translate}}</h1>
    </div>
    <div flex="50" class="legenda">
      {{'stats_legenda' | translate}} <i class="icon icon-foot"></i><i class="icon icon-star"></i> 10 km
    </div>
  </div>
  <div layout="row">
    <table>
      <tr>
        <th class="mode-zeroImpact_solo">{{'stats_zeroimpact_solo' | translate}}</th>
        <th class="mode-zeroImpact_wAdult">{{'stats_zeroImpact_wAdult' | translate}}</th>
        <th class="mode-bus">{{'stats_bus' | translate}}</th>
        <th class="mode-pandr">{{'stats_pandr' | translate}}</th>
        <th class="bonus">{{'stats_bonus' | translate}}</th>
      </tr>
      <tr>
        <td class="mode-zeroImpact_solo">
          <i class="icon icon-foot" ng-repeat="i in getCount(stats.scoreModeMap.zeroImpact_solo) track by $index"></i>
        </td>
        <td class="mode-zeroImpact_wAdult">
          <i class="icon icon-foot" ng-repeat="i in getCount(stats.scoreModeMap.zeroImpact_wAdult) track by $index"></i>
        </td>
        <td class="mode-bus">
          <i class="icon icon-foot" ng-repeat="i in getCount(stats.scoreModeMap.bus) track by $index"></i>
        </td>
        <td class="mode-pandr">
          <i class="icon icon-foot" ng-repeat="i in getCount(stats.scoreModeMap.pandr) track by $index"></i>
        </td>
        <td class="bonus">
          <i class="icon icon-star" ng-repeat="i in getCount(stats.scoreModeMap.bonus) track by $index"></i>
        </td>
      </tr>
    </table>
  </div>
</div>